# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# int is a whole number
# syntax: variable = value

number = 6
print(number)

6

##### Assinging float

In [10]:
# float is a number with a decimal value
number_float = 2.6
print(number_float)

2.6

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 5
num2 = 2.4

result = num1 + num2
print(result)

# Shorthand for incrementing
# result = result + 2
result += 2
print(result)

7.4
9.4

##### Subtraction

In [12]:
result_diff = 5 - num1
print(result_diff)

# decrementation
# result_diff = result_diff - 1

result_diff -= 1
print(result_diff)

0
-1

##### Multiplication

In [13]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

12.0
24.0

##### Division

In [14]:
result_div = 50 / num1

print(result_div)

#shorthand
result_div /= 2
print(result_div)

10.0
5.0

##### Floor Division

In [15]:
result_floor = 20 // 7
print(result_floor)

result_floor //= 2

print(result_floor)

2
1

##### Modulo

In [16]:
result_mod = 13 % 2
print(result_mod)

#shorthand decrementation is possible - not often used with modulo

1

##### Exponential

In [17]:
squared = 10**2
print(squared)

#shorthand exponent incrementation

squared **= 2
print(squared)

100
10000

### String Input-Output

##### String Assignment

In [18]:
name = "Nate"
print(name)

Nate

##### print() <br>
<p>Don't forget about end=' '</p>

In [19]:
print("This is my first name:", name)

# print("Full Name:", name, end=" Welter")

#help
help(print)

This is my first name: Nate
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [20]:
first = "James"
last = "Bond"

full_name = first + " " + last
print(full_name)

#Shorthand
# full_name = "James Bond" + " the 3rd"
full_name += " the 3rd"
print(full_name)

James Bond
James Bond the 3rd

##### Type Conversion

In [22]:
number = '45'

new_type = int(number)

# type(number)
type(new_type)

# MUST be used to convert number values only (no letters) - below will cause an error
# some_word = "Coding"
# int(some_word)

int

##### input()

In [23]:
# Input will always a return a string to you -- EVERY TIME

# Syntax: variableName = input("Some question goes here...")

# name = input("What is your name?")

# print(name)

age = int(input('What is your age?'))

add_age = age + 1

print(add_age)

What is your age?27
28

##### format()

In [24]:
time = input("How long have you been at Coding Temple?")

# Non efficient way...
# sentence = "Your name is " + name + " " + "you have been at CT for " + time
# print(sentence)

# formatted string
result = "Your name is {} you have been at CT for {}".format(name,time)
print(result)

# f string - MOST COMMON
result_2 = f"Your name is {name} you have been at CT for {time}!"
print(result_2)

How long have you been at Coding Temple?2 weeks
Your name is Nate you have been at CT for 2 weeks
Your name is Nate you have been at CT for 2 weeks!

##### Old Way (python 2)

In [25]:
# Old fashioned way... but you may see this occasionally in older docs
result_3 = "You have been at CT for %s" %time
print(result_3)

You have been at CT for 2 weeks

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [26]:
# OUTPUT: This car has a Blue color, the year is 2019, make is Honda, model is Civic!

car_color = input("What color is your car?")
car_year = input("What year was your car made?")
car_make = input("What company produced your car?")
car_model = input("What model of car do you have?")

car_statement = f"I am driving a {car_color}, {car_year} {car_make} {car_model}."

print(car_statement)

What color is your car?green
What year was your car made?1900
What company produced your car?benz
What model of car do you have?1000
I am driving a green, 1900 benz 1000.

### If Statements

In [27]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if num1 == num2:
    print("Equal Values")
else:
    print("Not equal")
    
    
if num2 >= num1:
    print('num2 is greater or equal')
elif num2 <= num1:
    print('num2 less or equal')

Not equal
num2 less or equal

##### 'is' keyword

In [28]:
# use is if we are checking for the same or a similar object, not necessarily the same value
num3 = "Nate"
num4 = "Nate"

if num3 is num4:
    print('This is the exact object')

This is the exact object

##### 'in' keyword

In [29]:
# Check if a character is in a name

char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [30]:
char_two = "Sonic"

if 'a' not in char_two:
    print("There is not an a")

There is not an a

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [31]:
# OUTPUT -- True (if 'p' exists in answer)
# False (if 'p' does not exist in answer)
name = input("What is your name?")
# if "p" in name:
#     print(True)
# else:
#     print(False)

#Shorthand to return a boolean value
"p" in name

What is your name?matt

False

## Using 'and'/'or' with If Statements

In [32]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 2



# If with "and" keyword
if 15 / 5 == 3 and 10 - 8 == 2:
    print("True and True")
    
# if with "or" keyword
if 15 - 7 == 8 or 2 + 2 == 4:
    print("At least one is true")

True and True
At least one is true

### Elif Statements

In [33]:
school_name = input("What School do you go to?")

if school_name == "Coding Temple":
    print('It is not IU, it is Coding Temple!')
elif school_name == "Indiana University":
    print("This is IU")
elif school_name != "CTU":
    print('Not IU, Not Coding Temple, Not CTU!')
else:
    print(f'I have never heard of {school_name}')
    

# num = 15

# if num / 5 > 1:
#     print("The number is at least 5")
# elif num * 3 > 45:
#     print("The number is at least 15")

What School do you go to?coding temple
Not IU, Not Coding Temple, Not CTU!

### Else Statements

In [3]:
# see above

### For Loops

In [34]:
# "for" keyword, counter, "in" keyword

name = "Nate Welter"

for n in name:
    print(n)

for i in range(len(name)):
    print(f'name[{i}] == {name[i]}')

N
a
t
e

W
e
l
t
e
r
name[0] == N
name[1] == a
name[2] == t
name[3] == e
name[4] ==
name[5] == W
name[6] == e
name[7] == l
name[8] == t
name[9] == e
name[10] == r

##### Using 'in' keyword

In [4]:
# see above

##### Continue Statement

In [5]:
# will continue to next iteration

In [35]:
for i in range(20):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19

##### Break Statement

In [6]:
# will break out of current loop

In [36]:
for i in range(20):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

##### Pass Statement

In [7]:
# mostly used as a placeholder, and will continue on same iteration

In [37]:
for i in name:
    pass # TODO item: telling yourself to come back and finish later (will not break your code and cause errors)

##### Double For Loops

In [38]:
for i in range(5):
    for j in range(5):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [39]:
# while keyword, conditional statement
# whole looping functionality is directly tied to condition remaining true

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [41]:
while True:
    name = input("What is your name? type 'quit' to quit")
    if name == 'quit':
        break
    else:
        print(f"Hello there {name}!")

What is your name? type 'quit' to quitmatt
Hello there matt!
What is your name? type 'quit' to quitquit

##### While & For Loops Used Together

In [42]:
num = 0

while num < 5:
    print("\nWhile Loop iteration:", num)
    
    for i in range(2):
        print("For Loop iteration:", i)
    
    num += 1

While Loop iteration: 0
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 1
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 2
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 3
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 4
For Loop iteration: 0
For Loop iteration: 1

### Built-In Functions

##### range()

In [43]:
#start, Stop, Step
# goes up to stop, not including stop

for i in range(2,30,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

##### len()

In [44]:
# checks length of the variable

name = "John"

length = len(name)
print(length)

4

##### help()

In [45]:
# use this for some documentation for built-in python functions

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [51]:
#help(isinstance)
print(isinstance(4.5, float))

if isinstance(4.5, float):
    print("It is a float!")

True
It is a float!

##### abs()

In [47]:
# |-5|
print(abs(-5))

5

### Try and Except

In [53]:
# use when you expect your code to broken (usually by incorrect input) - this allows you to keep the program running
# Also allows you look out more graceful error messages

try:
    number_test = 0
    input_num = int(input("Guess a number!"))
    if input_num == number_test:
        print("You Guessed the number!")
    else:
        print("Sorry, Try again")
except:
    print("That did not work -- please change your input to a number next time!")

Guess a number!0
You Guessed the number!

### Lists

##### Declaring Lists

In [54]:
list_1 = [] # Empty List

names = ['Max', 'Cindy', 'Kathy', 'Bob']

print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [55]:
# Syntax: list_name[start:stop:step]

# Single index -- list_name[index]
print(names[0])

# negative single index counts from the end of the list
print(names[-1])

# Print starting at idx 1, go until the end
print(names[1:])

# Print everything from start up to idx 2
print(names[:2])

# print beginning at idx 1, go through the end, step by 2
print(names[1::2])

# print starting at the end in reverse order
print(names)
print(names[::-1])

Max
Bob
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Max', 'Cindy', 'Kathy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [56]:
names.append("Joel")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .insert()

In [57]:
# list_name.insert(idx, value)

names.insert(1, "Nate")

print(names)

['Max', 'Nate', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .pop()

In [58]:
# default to the very last index if no parameter
# pop returns the element you pop, so you can store it as a variable and use it if you want

my_name = names.pop(1)
print(my_name)
print(names)

# Raffle example
# raffle = ['zys32541', '28hdwjdgwdd', '2s2wh2wfw1']

# one = raffle.pop()
# two = raffle.pop()
# three = raffle.pop()

# print(raffle)

Nate
['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']


##### .remove()

In [59]:
# value to be removed, not an index
names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Joel', 'Bob', 'Bob']

# remove all instances of a particular value
while 'Bob' in names:
    names.remove('Bob')
    print("Removing another bob...", names)

Removing another bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob', 'Bob']
Removing another bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob']
Removing another bob... ['Max', 'Cindy', 'Kathy', 'Joel']

##### del()

In [60]:
# list index to be reomved, not a value in particular
# BE CAREFUL, can cause indexing errors
print(names)
del(names[1])
print(names)

['Max', 'Cindy', 'Kathy', 'Joel']
['Max', 'Kathy', 'Joel']

##### Concatenating Two Lists

In [61]:
# will append two or more lists using the '+' operator, will not add up items in list
list_2 = [0,1,2]
list_3 = [3,4,5]

list_4 = list_2 + list_3
print(list_4)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [70]:
# list can hold any datatype OR object used in python
# can have lists within other lists

names = ['Jeff', 'Sam', 'josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]

print(names)

print(names[4][2])

['Jeff', 'Sam', 'josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]
Jessica

##### Looping Through Lists

In [72]:
# two different ways to loop : by value, by index

# Loop by value
for name in names:
    print(name)
    
# Loop by index
for i in range(len(names)):
    print(names[i])

Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']
Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']

In [ ]:
####Additional example

In [73]:
names = ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob', 'Bob', 'Cindy']
rem_names = ['Bob', 'Cindy']

for name in rem_names:
    while name in names:
        names.remove(name)
        print(f'Removing {name}...', names)

Removing Bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob', 'Cindy']
Removing Bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Cindy']
Removing Cindy... ['Max', 'Kathy', 'Joel', 'Cindy']
Removing Cindy... ['Max', 'Kathy', 'Joel']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [95]:
i = i ** 3

for i in range(1001):

    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [9]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [89]:
age = input("What is your age?")

int_age = int(age)

if age < 17:
    print("Kids")
elif age < 64:
    print("Adults")
else:
    print("Seniors")

What is your age?45

TypeError: '<' not supported between instances of 'str' and 'int'